.scope-name {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-family: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15008px;
}

.scope-description {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(84, 84, 84);
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.15008px;
}